$barAreaMinWidth:8;
$barAreaMaxWidth:12;
$borderMaxWidth:2;



:host {
    overflow: hidden;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        vertical-align: top;
    }

    .bar-area {
        position: absolute;
        width: $barAreaMinWidth + 0px;
        height: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);

        .bar-area-padding {
            height: 100%;
            border: 2px solid transparent;

            .bar-area-padding-inner {
                height: 100%;

                .btn-wrap {
                    font-size: 0;
                    vertical-align: bottom;

                    .btn {
                        width: 100%;
                        height: 100%;
                        background-color: white;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }

                .bar-contaner {
                    width: 100%;
                    max-width: 100%;
                    vertical-align: bottom;

                    .bar {
                        cursor: pointer;
                        width: 100%;

                        .bar-thum {
                            height: 100%;
                            font-size: 0;

                            .bar-btn {
                                width: 100%;
                                max-height: 100%;
                                height: 30%;
                                // display: inline-block;
                                // border-bottom:2px solid rga(0,0,0,0);
                                // margin-bottom: 2px;
                                background-color: white;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .view {
        overflow: auto;
        width: 100%;
        height: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.select-none {
            user-select: none;
            pointer-events: none;
        }
    }
}